.Section_inf{
    display: flex;
    align-items: center;
    justify-content:  space-evenly;

    background-color: #FAF3EA;
    height: 30vh;

    margin-bottom:  3%;
}

.block_inf{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.text_inf_block{
    font-family: Poppins;
}
.text_inf_block h1{
    font-size: 25px;
    font-weight: 600;
}
.text_inf_block h2{
    font-size: 20px;
    font-weight: 500;
    color: #898989;
}

@media(max-width: 1200px){
    .Section_inf img{
        height: 50%;
        
    }
}