.main{
    margin-top: 5%;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    gap: 7%;
}

.item{
    display: flex;
    flex-direction: column;
    text-align: start;
    background-color: #F4F5F7;
    margin-bottom: 5%;
    width: 15%;
    border-radius: 20px;
    position: relative;
}

.item img{
    width: 100%;
    height: 300px;
    border-radius: 20px 20px 0 0;
    
}
.item b{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.plus{
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: 600;
}

.btn_cart{
    display: inline-flex;
    color: #B88E2F;
    font-size: 20px;
    font-family: Poppins;
    font-weight: 600;
    padding: 10px;
    background-color: #fff;
    border: none;
}

.text_item{
    margin: 5% 8%;
    font-family: Poppins;
}

.text_item h2{
    font-size: 24px;
}
.text_item p{
    font-size: 16px;
}
.text_item b{
    font-size: 20px;
}