.Nav_shop_page{
    background-image: url(./nav_img_bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
}

.Nav_shop_page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-family: Poppins;
}
.Nav_shop_page h1{
    font-size: 56px;
    font-weight: 600;
    line-height: 72px;
}
.Nav_shop_page h3{
    font-size: 20px;
    font-weight: 500;
}