.Main_cart_page{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
}

.main_cart{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    width: 60%;
    margin-top: 5%;

    background-color: #F9F1E7;
    padding: 20px;
    height: 30px;

    font-family: Poppins;
    h1{
        font-weight: 500;
        font-size: 20px;
    }
}

.aside_cart{
    display: flex;
    flex-direction: column;
    width: 20%;
    margin-top: 5%; 
    
    padding: 20px 20px;
    background-color: #F9F1E7;
    align-items: center;
    
    font-family: Poppins;

    h1{
        
        font-size: 36px;
        font-weight: 600;
        line-height: 60px;
    }

    h3{
        font-size: 20px;
        font-weight: 400;
        line-height: 60px;
    }
    .little{
        margin-top: 10%;
    }
}

.btn_cart_page{
    color: #000000;
    width: 200px;
    height: 55px;
    border-radius: 20px;
    background-color: #F9F1E7;

    font-family: Poppins;
    font-weight: 600;
    font-size: 16px;
    margin-top: 10%;
    margin-bottom: 10%;
    cursor: pointer;
}
.btn_cart_page:hover{
    transition: 0.5s;
    background-color: bisque;
}
.nav_cart{
    margin-top: 10%;
}


.cart-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .cart-item img {
    max-width: 100px;
    margin-right: 20px;
  }
  
  .cart-item button {
    background-color: #ff4d4d;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
  }
  
  .cart-item button:hover {
    background-color: #ff1a1a;
  }
  